:root {
}

.cardSlot {
    flex-grow: 0;
    width: 140px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition-property: scale, translate;
    transition-duration: 0.15s, 0.15s;
    scale: 1;
    align-items: center;
    justify-content: center;
    overflow: visible;
    height: 196px;
    flex-direction: row;
    align-self: stretch;
    align-content: auto;
    flex-wrap: nowrap;
}

.selectedCard {
    scale: 1.4 1.4;
    aspect-ratio: 0.7;
    translate: 0 -80px;
}

.cardSlot-page {
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: auto;
    align-content: center;
    align-items: stretch;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.overlay {
    position: absolute;
    transition-property: scale, translate;
    transition-duration: 0.15s, 0.15s;
    scale: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.overlay--selected {
    position: absolute;
    scale: 1.3;
    translate: 0 -20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    aspect-ratio: 0.7;
    align-self: stretch;
}
