:root {
}

.card-root {
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    align-self: auto;
    align-content: auto;
    position: relative;
    width: 200px;
    height: 280px;
    scale: 1 1;
    aspect-ratio: 0.7;
    padding-left: 0;
    margin-bottom: 0;
}

.card-label {
    position: relative;
    visibility: visible;
    overflow: visible;
    margin-bottom: 4px;
    margin-left: 4px;
    align-self: center;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 5px 100px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    -unity-font-style: normal;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Fonts/bookmanoldstyle_bold.ttf?fileID=12800000&guid=6b151c28c6e14f841a48118a845f16db&type=3#bookmanoldstyle_bold");
    white-space: normal;
    flex-shrink: 1;
}
